:root {
    --purple1: rgb(120, 87, 255);
    --purple2: rgb(46, 43, 233);
    --purple3: rgb(78, 33, 202);
    --purple4: rgb(36, 33, 202);
    --reaction: #ff5757;
    --memory: #ffb01f;
    --verbal: #00bd91;
    --visual: #1125d4;
    --reaction-background: #ff57570c;
    --memory-background: #ffb11f0c;
    --verbal-background: #00bd910c;
    --visual-background: #1124d40c;
    --button: hsl(224, 30%, 27%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-size: 18px;
    font-family: "Hanken Grotesk", Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 18px;
}

p .score {
    font-weight: bold;
}

.container {
    width: 720px;
    height: 500px;
    margin: 200px auto;
    display: flex;
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 2rem;
}

.results {
    background: linear-gradient(var(--purple1), var(--purple2));
    opacity: .9;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
}

.results h1 {
    color: white;
    opacity: 0.6;
    margin: 35px auto;
}

.results h2 {
    margin-bottom: 20px;
    color: white;
}

.results p {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    padding: 0 70px;
}

.opaque {
    color: white;
    opacity: 0.7;
}

.results .score {
    background: linear-gradient(var(--purple3), var(--purple4));
    opacity: .9;
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
    border-radius: 50%;
}

.results .score .big {
    font-size: 50px;
    color: white;
    opacity: 1;
    display: block;
    height: 60px;
}

/* summary */

/* summary container */
.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* for reference only */
        /* border: blue 1px solid; */
    }

.summary h1 {
    align-self: start;
    margin-top: 35px;
    margin-left: 40px;
    font-size: bold;
}

.summary .sum-box-container {
    /* background-color: antiquewhite; */
    width: 80%;
    margin: 30px 35px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* for reference only */
    /* border: red 1px solid; */
}

.summary .sum-box-container .sum-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    border-radius: 10px;
    /* for refence only */
    /* border: red 1px solid; */
}


.react {background-color: var(--reaction-background);}
.mem {background-color: var(--memory-background);}
.ver {background-color: var(--verbal-background);}
.vis {background-color: var(--visual-background);}


.reaction,
.memory,
.verbal,
.visual {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 10px;
}

.reaction p,
.memory p,
.verbal p,
.visual p {
    margin-left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.reaction p {color: var(--reaction);}
.memory p {color: var(--memory);}
.verbal p {color: var(--verbal);}
.visual p {color: var(--visual);}

.react p, .mem p, .ver p, .vis p {
    margin-right: 10px;
}

.sum-box-container p {
    font-size: 16px;
    font-weight: bold;
}

.gray {
    color: gray;
}


.summary button {
    background-color: var(--button);
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 80%;
    height: 55px;
    border-radius: 30px;
}

.summary button:hover {
    background-color: var(--purple2);
}

